<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ramanhmr.tmsandroid">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".HomeworkApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TMSAndroid">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".homework6.FlagsActivity" />
        <activity
            android:name=".homework7.CountdownActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".homework7.UserInfoActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".homework10.CandiesActivity"
            android:screenOrientation="fullSensor" />
        <activity android:name=".homework12.FragmentsActivity" />
        <activity android:name=".homework13.CandyFragmentActivity" />
        <activity android:name=".homework16.MessagesActivity" />
        <activity android:name=".homework17.CurrencyActivity" />
        <activity android:name=".homework19.AlarmActivity" />
        <activity android:name=".homework20.WeatherLocationActivity" />

        <receiver
            android:name=".homework19.AlarmReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver android:name=".homework20.WeatherWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/weather_widget_provider" />
        </receiver>

        <service android:name=".homework19.NotificationService" />
        <service android:name=".homework20.UpdateWeatherWidgetService" />
    </application>
</manifest>